<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="assets/bundle.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= react_component('NavBar', {
    sitename: "Reddit",
    root_path: root_path,
    links: navbar_links 
  }) %>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
